@model ConfigModel
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Full config !</h1>



</div>
<div>
    <pre>
        @Html.Raw(Model.DebugView)
  </pre>
</div>
